* {
  margin: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  /* background-color: green; */

  background-image: url('https://previews.dropbox.com/p/thumb/ABEMg4FwzfMFShiIO7yK07NmcxPkhfVf0AYk7Fr1JpWK16KOpkxFS-L438yvZ8v7hp2_6NlFF3557k_WR1P_yS_LRwQRls-gD0NcEFMZtAWHUpwkB8L5shtYW_D2bfJMQTyI3tDXMf807l-4FKIxp92u759nlJcLjV-H0X-n5ZhI7vyAXJtYKLP1myE4ZUI8t-JVEaxe6GYFHmqw6xhkScoNydVcb-sys__dq2eIET6xw4GQqdAYgnh_WgbsdRZ-lIzxyRUh8szn4ikbmLUn4DXVdzAmWcBFNEX0MgvLhH3aQpyYeSCylhnG7DnWGHt8CZW9ebgAnMPH2zNkf7olA7qmkolZhn9AmHKq3EiTsv0eWTdwom1yVlAUDYGPY8aMjy8/p.jpeg?fv_content=true&size_mode=5');


  /* background-image: url('https://ih1.redbubble.net/image.922397317.7863/flat,750x1000,075,f.jpg'); */
  z-index: -3;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  
}

.header {
  text-align: center;
  font-family: 'Lucida Sans';
  font-size: 25px;
  position: relative;
  padding-top: 40px;
  margin-bottom: 10px;
  color: ivory;
  /* text-shadow: -7px -3px 0px rgba(114,75,17,0.82); */
  /* text-shadow: -7px -3px 0px rgba(236, 233, 228, 0.9) */
  /* text-shadow: -7px -3px 0px rgba(141, 94, 18, 0.9); */
  /* text-shadow: -4px 0px 2px #FFFFFF; */

  /* background-color: brown; */
  z-index: 2;
}

.header-color {
  position: absolute;
  background-color:rgb(46, 192, 192);
  height: 60px;
  width: 50vw;
  z-index: 1;
  top: 35px;
  left: 25vw;
  border-radius: 90px;
  /* -webkit-box-shadow: 0px 0px 2px 3px #68490D;  */
  border: 4px solid rgb(228, 189, 63);
}

.pockets-inventory-container {
  width: 70vw;
  height: 300px;
  /* border: solid black 1px; */
  position: relative;
  left: 15vw;
  border-radius: 100px;
  background-color: ivory;
  display: flex;
  box-sizing: border-box;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 40px;
  /* border: 5px solid red; */
}

.inventory-spot {
  height: 35px;
  width: 35px;
  background-color: rgb(226, 226, 202);
  border-radius: 100px;
  margin: 42px;
  margin-left: 45px;
  margin-top: 45px;
}



.mapped-pockets-container {
  width: 70vw;
  height: 300px;
  /* border: solid black 5px; */
  position: relative;
  display: inline-flex;
  /* justify-content: space-around; */
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 430px;
  left: 15vw;
  z-index: 3;
  padding-left: 36px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.clear-pockets-button {
  height: 100px;
  width: 150px;
  position: absolute;
  left: 1500px;
  bottom: 500px;
  border-radius: 80px;
  border: 4px solid rgb(228, 189, 63);
  background-color:rgb(46, 192, 192);
  color: ivory;
  font-family: 'Lucida Sans';
  font-size: 20px;
  font-weight: bold;
  z-index: 4;
  outline: none;
}

.clear-pockets-button:hover {
  cursor: grab;
  animation: shake 0.8s;
  animation-iteration-count: 1;
}

.island-item-button:hover {
  
  animation: shake 1s;

  
  animation-iteration-count: 1;
}

/* @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */


/* .clear-pockets-button:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

  
} */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}









.islander {
  height: 600px;
  width: auto;
  position: absolute;
  left: 780px;
  bottom: 60px;
  z-index: 4;
  /* border: solid black 1px; */
}


.mapped-items-container {
  width: 90vw;
  height: 150px;
  /* border: solid black 1px; */
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  top: 270px;
  /* bottom: 240px; */
  left: 5vw;
  z-index: 4;
}

.island-items {
  position: relative;
  display: flex;
  z-index: 5;
}

.island-item-button {
  background-color: transparent;
  outline: none;
  border: none;
  
}

.island-item-button:hover {
  cursor: grab;
}

.island-item-image {
  height: 250px;
  width: auto;
  /* border: 1px solid black; */
}

.pocket-item-image {
  height: 115px;
  width: auto;
  /* border: 1px solid black; */
  margin-left: 10px;
  position: relative;
  bottom: 20px;
  background-color: ivory;
  
}

.button {
  margin-top: 6px;
  height: 45px;
  width: 150px;
  border-radius: 100px;
  color: ivory;
  background-color: rgb(22, 165, 165);
  /* border-color:rgb(226, 226, 202);
   /* */
   border: none;
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(255,245,199,0.5);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .button:hover {
  cursor: grab;
  background-image: url('https://previews.dropbox.com/p/thumb/ABHCMtXEe8_7FOhVn_PNrxabs6U2fE7hn-KJsl-2HSNsQ5RNlaybAY0KGb7BNyjSiMPY2J3MTgh3lyg1aKCMXqFOy06kQ0NkrTvrdQ728GiRX3OYY7htiitFSybhwU30tYTVf3_3WYUh8BvYWVImA43haJ5ZRMpuKySi15o65jn7IrLCaov9NLQAU4UYgodil9MLtkA_piROssEl2_1GFnaIc_UARfC6TENqMZJi81A0Uxuf18_EfSiUI47pTIndHaH262fcCy3JXryUEifEGXIEq9KC2aoiWqiovygUijxdYCvK6aTdpUu8oj5zHEMGN71mn3zuhTp2_MEm2hOdazDA5P4rBfM6gGKrU5lBW81Ha3_9ypdPYvu8tKk91b1gWiI/p.jpeg?fv_content=true&size_mode=5')
} */